@import "./pokemonTypesColors";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    background-color: #252626;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-family: "Barlow Condensed", sans-serif;
    color: #252626;
}

.tippy-box {
    font-family: "Barlow Condensed", sans-serif;
    background-color: #252626;
    text-transform: capitalize;
}

.loader {
    width: 15px;
    height: 15px;
    border: 2px solid #252626;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
